@import 'bulma';

.container {
  width: 400px;
  margin: 30px auto;
}

.welcome {
  font-size: 30px;
  padding-bottom: 45px;
}

.nav-item {
  padding-top: 25px;
}

// form {
//   padding-left: 75px;
// }
//
// h4 {
//   padding: 75px;
// }
